{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div>
        {% include("emails/_activeCompte.html.twig") %}
    </div>
    <div class="container profilUsers">
    <div class="profilUser">
        {% if  app.user.avatar is empty %}
            <img src="{{asset('assets/images/avatar.png') }}">
        {% else %}
            <img src="{{asset('assets/images/' ~ app.user.avatar) }}">
        {% endif %}
            <h1>
                {{app.user.name}}
            </h1>
    </div>
            <div class="linkProfil">
                <a class="btnProfil" href="{{app.user.id}}/edit">modifier votre profile</a>    
                <a class="btnProfil" href="{{ path('app_ajout_Trick') }}">Ajouter un Trick ☞ </a>
            </div>
        </div>

{% endblock %}
