{% extends 'base.html.twig' %}

{% block title %}tricks | Snowboard{% endblock %}

{% block body %}
<main class="homePage">
    <nav class="homePageNav" id="index">
      <h1>SNOWTRICKS</h1>
      <h3>Partagez votre passion du snowboard</h3>
    </nav>
    <div class="arrow" id="down">
      <a href="#footer"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
    <div>
      {% include("emails/_activeCompte.html.twig") %}
    </div>
    <div> 
      {% include("header/__flash.html.twig") %}
    </div>
    <div class="album trickHome">
      <div class="container-fluid ">
        <div class="row ">
        {% for trick in tricks.data %}
            <div class="card m-3 trickPage" >
            {% if trick.pictureTrick is empty %}
              <img src="{{asset('assets/images/trick.jpg') }}">
            {% else %}
              <img src={{ asset('assets/images/imgTricks/' ~ trick.pictureTrick) }} class="card-img-top" alt="figure: {{trick.name}}">
            {% endif %}
              <div class="d-flex">
                <div class="card-body">
                  <a href="trick/{{trick.slug}}"><h5 class="card-title">{{trick.name}}</h5></a>
                </div>
                {% if app.user %}
                  <div>
                    <a href="{{ path('app_edit_Trick', {slug: trick.slug}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{{ path('app_delete_Trick', {id: trick.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                {% endif %}
                </div>
            </div>
      {% endfor %}
      {% set path = 'app_home' %}
        {% set pages = tricks.pages %}
        {% set currentPage = tricks.page %}
        {% include "header/_paginationHome.html.twig" %} 
        <div class="arrow">
            <a href="#index"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
</main>
  {% include("footer/index.html.twig") %}

{% endblock %}
