{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="container singlePage">
      <div class="row">
      <div style="background-image: url({{asset('assets/images/' ~ trick.image) }}); background-size: cover; height: 300px;">
        <h1>{{trick.name}}</h1>
      </div>
      
            <div class="">

                <span class="btn btn-info">{{trick.categories}} </span>
              <p class="card-text">{{trick.discription}}</p>
              <span>{{trick.fromNow}}</span>             
              </div>
            </div>
          </div>
{% endblock %}
