{% extends 'base.html.twig' %}

{% block title %}commentaire{% endblock %}

{% block body %} 

{% for paginatedComments in paginatedComment.data %}  
  <div class="commentsTrick ">
    <div>
        {% if paginatedComments.author.avatar %}
          <img src="{{asset('assets/images/' ~ paginatedComments.author.avatar) }}" alt="{{paginatedComments.author}}">
        {% else %}
          <img src="{{asset('assets/images/avatar.png') }}" alt="{{paginatedComments.author}}" >
        {% endif %}
    </div>
    <div class="comment col-md-8">
      <div class="d-flex">
        <h5>
            {{paginatedComments.author}}
        </h5>
          <h6>{{paginatedComments.createdAt| date("d/m/y") }}</h6>
      </div>
      <div>
          <p>
            {{paginatedComments.content}}
          </p>
      </div>
    </div>  
  </div>  
{% endfor %}

{% endblock %}
