{% extends 'base.html.twig' %}

{% block title %}ajouter un trick{% endblock %}

{% block body %}
<div class="container">
    <div class="addTrick">
    <h1>Ajouter un trick</h1>
        {{form_start(trickform)}}
        {{ form_widget(trickform._token)}}
        {{ form_errors(trickform)}}
            <div class="col-10 m-2">
                <div class="d-flex p-2">
                    <div class="col-5">
                        <h4> ajouter un nom</h4>
                        {{form_row(trickform.name)}}
                    </div>
                    <div class="col-4">
                        <h4>ajouter une catégorie</h4>
                        {{form_row(trickform.categories)}}
                    </div>
                </div>
                <div>
                    <h4>ajouter une image</h4>
                    {{form_row(trickform.pictureTrick)}}
                </div>
                <div>
                    <h4>ajouter une description</h4>
                    {{form_row(trickform.discription)}}
                </div>
                <div>
                    <h4>ajouter des illustration</h4>
                    {{form_row(trickform.imageUrls)}}
                </div>
                <h4>ajouter des vidéos</h4>
                <button type="button" class="btn btn-primary btn-new" data-collection="#videos">nouveau video</button>
                <div class"row" id="videos" 
                data-prototype="{{ include("video/index.html.twig", {trickform: trickform.videoUrls.vars.prototype})|e("html_attr") }}" 
                data-index="{{ trickform.videoUrls|length > 0 ? trickform.videoUrls|last.vars.name + 1 : 0}}">
                    {% for videos in trickform.videoUrls %}
                        {{ include("video/index.html.twig", {trickform: videos}) }}
                    {% endfor %}
                </div>
                <button type="sumbit" class="btn btn-primary" id="addTrickBtn">ajouter</button> 
            </div>
        {{ form_end(trickform, {render_rest: false }) }}
    </div>
</div>

{% block script %}
	<script src="{{asset('assets/js/videos-collection.js')}}"></script>
{% endblock %}

{% endblock %}
