{% extends 'base.html.twig' %}

{% block title %}Figures{% endblock %}

{% block body %}
<div class="container">
    <div class="addTrick">
    <h1>Ajouter un trick</h1>
        {{form_start(trickform)}}
        {{ form_widget(trickform._token)}}
        {{ form_errors(trickform)}}
            <div class="col-10 m-2">
                <div class="d-flex p-2">
                    <div class="col-5">{{form_row(trickform.name)}}</div>
                    <div class="col-3">{{form_row(trickform.categories)}}</div>
                </div>
                <div>
                    {{form_row(trickform.pictureTrick)}}
                </div>
                <div>
                    {{form_row(trickform.discription)}}
                </div>
                <div>
                    {{form_row(trickform.imageUrls)}}
                </div>
                <button type="button" class="btn btn-primary btn-new" data-collection="#videos">nouveau video</button>
                <div class"row" id="videos" 
                data-prototype="{{ include("video/index.html.twig", {trickform: trickform.videoUrls.vars.prototype})|e("html_attr") }}" 
                data-index="{{ trickform.videoUrls|length > 0 ? trickform.videoUrls|last.vars.name + 1 : 0}}">
                    {% for videos in trickform.videoUrls %}
                        {{ include("video/index.html.twig", {trickform: videos}) }}
                    {% endfor %}
                </div>
                <button type="sumbit" class="btn btn-primary">ajouter</button> 
            </div>
        {{ form_end(trickform, {render_rest: false }) }}
    </div>
</div>

{% block script %}
	<script src="{{asset('assets/js/videos-collection.js')}}"></script>
{% endblock %}

{% endblock %}
