{% extends 'base.html.twig' %}

{% block title %}modifier un trick{% endblock %}

{% block body %}
  {{form_start(trickform)}}
      <div class="container-fluid  editTrick">
          <div class="row">
            {% if trick.pictureTrick is empty %}
              <div style="background-color: #c0e2f8; height: 75vh;">
            {% else %}
              <div style="background-image: url({{asset('assets/images/imgTricks/' ~ trick.pictureTrick) }}); background-repeat: no-repeat;
              background-size: cover;  background-position: center; height: 75vh;">  
                <div class="linkEditTricks">
                  <div class="linkEditTrick">
                      <a href="/trick/{{trick.slug}}/editpictureTrick/{{trick.pictureTrick.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="/trick/{{trick.slug}}/deletPictureTrick/{{trick.pictureTrick.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                </div>
            {% endif %}       
              <div class="col d-flex flex-row justify-content-center"><h2>{{form_row(trickform.name)}}</h2></div>
            </div>

          <div class="container imgSinglePage"> 
            <div class="mediaTricks">
              {% for image in trick.imageurls %}
                <div class="card mediaTrick">   
                  <div>     
                    <img src="{{asset('assets/images/imgTricks/' ~ image.name) }}" class="card-img-top" height="160px">              
                  </div>
                  <div class="linkSinglePage">         
                    <a href="/trick/{{trick.slug}}/editImage/{{image.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="/trick/{{trick.slug}}/deletImage/{{image.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                </div>
              {% endfor %} 
              {% for video in trick.videourls %}
                <div class="card mediaTrick">                     
                  <div> {{ embed_video(video.name)|raw }} </div>                                   
                  <div class="linkSinglePage">         
                    <a href="/trick/{{trick.slug}}/editVideo/{{video.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="/trick/{{trick.slug}}/deletVideo/{{video.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                </div>
            {% endfor %}
            </div>
            <div class="media">
              <button type="button">voir les médias</button>
            </div>
          </div>
            <div class="col-10 editContent">
              {{form_row(trickform.discription)}}
            </div>
            <div class="col-3">
              {{form_row(trickform.categories)}}
            </div>
          <div class="col-10 linkEditTricks">
            <a href="{{ path('app_delete_Trick', {id: trick.id}) }}" class="btn btn-danger">Delete</a> 
            <button type="sumbit" class="btn btn-primary">Save</button> 
          </div>
      </div>
      <div  style="display: none;">
      {{form_row(trickform.pictureTrick)}}
      {{form_row(trickform.imageUrls)}}
      {{form_row(trickform.videoUrls)}}
      </div>
  {{form_end(trickform)}}

  {% block script %}
	    <script src="{{asset('assets/js/seeMedia.js')}}"></script>
    {% endblock %}
{% endblock %}
