{{form_start(trickform)}}
    <div class="col-10 m-2">
        <div class="d-flex p-2">
            <div class="col-5">{{form_row(trickform.name)}}</div>
            <div class="col-3">{{form_row(trickform.categories)}}</div>
        </div>
        {{form_row(trickform.image)}}
        {{form_row(trickform.discription)}}
            <div class="imgSinglePage"> 
          {% for image in trick.imageurls %}
            <div>   
              <div>     
                <img src="{{asset('assets/images/imgTricks/' ~ image.name) }}">              
              </div>
              <div class="linkSinglePage">         
                <a href="/trick/{{trick.slug}}/editImage/{{image.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="/trick/{{trick.slug}}/deletImage/{{image.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            </div>
          {% endfor %} 
        </div>
        {#form_row(trickform.imageUrls)#}
    
        <button type="sumbit" class="btn btn-primary">save</button> 
    </div>
{{form_end(trickform)}}